// 定义
@font-face {
  font-family: 'iconfont';  /* Project id 3345474 */
  src: url('//at.alicdn.com/t/font_3345474_ef0yj55oasl.woff2?t=1650712069932') format('woff2'),
       url('//at.alicdn.com/t/font_3345474_ef0yj55oasl.woff?t=1650712069932') format('woff'),
       url('//at.alicdn.com/t/font_3345474_ef0yj55oasl.ttf?t=1650712069932') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.266666vw;
}
body {
  font-family: iconfont;
  font-size: 12rem;
}
input {
  border:none;
  outline:none
}
button {
  border: none;
}
a,
a:hover,a:active,a:visited,a:link,a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
i {
  font-style: normal;
}
.clearfix::after {
  content:"";
  clear:both;
  display: block;
  height: 0;
}

