// 定义
@font-face {
  font-family: 'iconfont';  /* project id 3345474 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3345474_juix2cltss.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_3345474_juix2cltss.woff') format('woff'),
  url('//at.alicdn.com/t/font_3345474_juix2cltss.ttf') format('truetype'),
  url('#iconfont') format('svg');
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 0.266666vw;
}
body {
  font-family: iconfont;
  font-size: 12rem;
}